* {
    -GtkArrow-arrow-scaling: 0.6;
    -GtkButton-child-displacement-x: 1;
    -GtkButton-child-displacement-y: 1;
    -GtkButton-default-border: 0;
    -GtkButton-image-spacing: 0;
    -GtkButton-interior-focus: true;
    -GtkButton-inner-border: 3;
    -GtkCheckButton-indicator-size: 17;
    -GtkCheckMenuItem-indicator-size: 16;
    -GtkEntry-inner-border: 2;
    -GtkEntry-progress-border: 0;
    -GtkExpander-expander-size: 8;
    -GtkHTML-link-color: @link_color;
    -GtkIMHtml-hyperlink-color: @link_color;
    -GtkMenu-horizontal-padding: 0;
    -GtkMenu-vertical-padding: 5px;
    -GtkMenuBar-internal-padding: 0;
    -GtkMenuItem-arrow-scaling: 0.6;
    -GtkNotebook-initial-gap: 0;
    -GtkNotebook-tab-overlap: 1;
    -GtkPaned-handle-size: 6;
    -GtkProgressBar-min-horizontal-bar-height: 14;
     -GtkProgressBar-max-horizontal-bar-height: 15;
    -GtkProgressBar-min-vertical-bar-width: 14;
    -GtkProgressBar-max-vertical-bar-width: 15;
    -GtkRange-trough-border: 0;
    -GtkRange-slider-width: 14;
    -GtkRange-stepper-size: 13;
    -GtkRange-trough-under-steppers: 1;
    -GtkRange-stepper-spacing: 0;
    -GtkScale-trough-border: 0;
    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkScrolledWindow-scrollbars-within-bevel: 1;
    -GtkSeparatorMenuItem-horizontal-padding: 0;
    -GtkStatusbar-shadow-type: none;
    -GtkTextView-error-underline-color: #df382c; /* @error_color doesn't work due to a gtk bug */
    -GtkToolButton-icon-spacing: 6;
    -GtkToolItemGroup-expander-size: 11;
    -GtkToolbar-internal-padding: 0;
    -GtkTreeView-expander-size: 8;
    -GtkTreeView-vertical-separator: 0;
    -GtkWidget-separator-width: 2;
    -GtkWidget-separator-height: 2;
    -GtkWidget-wide-separators: true;
    -GtkWidget-link-color: #a7bb85; /* @link_color */
    -GtkWidget-visited-link-color: #a7bb85; /* @link_color */
    -GtkWindow-resize-grip-width: 0;
    -GtkWindow-resize-grip-height: 0;
    -WnckTasklist-fade-overlay-rect: 0;

    background-origin: border-box;
    background-clip: padding-box;
    -gtk-icon-style: regular; /* disable symbolic icons */
}

.background {
    color: @fg_color;
    background-color: @bg_color;
}

/**********
 * button *
 **********/
.button {
    -GtkWidget-focus-line-width: 0;
    padding: 4px;


    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (rgb(255,255,255)),
                                     color-stop (0.25, rgb(255,255,255)),
                                     color-stop (0.50, rgb(243,243,243)),
                                     color-stop (0.50, rgb(236,236,236)),
                                     to (rgb(242,242,242)));

    border-width: 2px;
    border-radius: 6px;
    border-style: solid;

	/* outer */
    border-top-color: 		transparent;
    border-left-color: 		alpha (#000, 0.01);
    border-right-color: 	alpha (#000, 0.01);
    border-bottom-color: 	alpha (#000, 0.05);
	
    box-shadow: inset  0px  2px alpha(#fff, 0.09),
                inset  2px  0px alpha(#fff, 0.07),
                inset -2px  0px alpha(#fff, 0.07),
                inset  0px -2px alpha(#fff, 0.05),
				inset  0px  1px shade(@button_border, 0.96),
                inset  1px  0px shade(@button_border, 0.91),
                inset -1px  0px shade(@button_border, 0.91),
                inset  0px -1px shade(@button_border, 0.90);

	/* box-shadow Syntax */
	/* box-shadow: [ inset ] horizontal_offset vertical_offset [ blur_radius ] [ spread ] color */

    color: 			@theme_fg_color;
	text-shadow: 0px 1px @theme_shadow_color;
}

.button:focus {
    /*border-image-source: url("assets/button-focused.png");*/
}

.button:hover {
    border-top-color: 		alpha (#000, 0.01);
    border-left-color: 		alpha (#000, 0.03);
    border-right-color: 	alpha (#000, 0.03);
	border-bottom-color: 	alpha (#000, 0.08);

    box-shadow: inset  0px  2px alpha(#fff, 0.09),
                inset  2px  0px alpha(#fff, 0.07),
                inset -2px  0px alpha(#fff, 0.07),
                inset  0px -2px alpha(#fff, 0.05),
				inset  0px  1px shade(@button_border, 0.95),
                inset  1px  0px shade(@button_border, 0.86),
                inset -1px  0px shade(@button_border, 0.86),
                inset  0px -1px shade(@button_border, 0.80);
}

.button:hover:focus {
   /* border-image-source: url("assets/button-focused-hover.png");*/
}

.button:checked:insensitive,
.button.flat:insensitive,
.button:insensitive {
     background-image: none;
    background-color: @insensitive_bg_color;
	border-color: alpha (#000, 0.00);
    border-bottom-color: 	alpha (#000, 0.00);
    border-image: none;
	box-shadow:	inset  0px  1px @insensitive_border_color,
                inset  1px  0px @insensitive_border_color,
                inset -1px  0px @insensitive_border_color,
                inset  0px -1px @insensitive_border_color;

}



.button.flat:insensitive {
    background-color: transparent;
    border-image-source: none;
}

.button:checked {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@button_active_gradient_color_a),
                                     color-stop (0.50, @button_active_gradient_color_b),
                                     color-stop (0.51, @button_active_gradient_color_c),
                                     to (@button_active_gradient_color_d));

    border-top-color: 		transparent;
    border-left-color: 		alpha (#000, 0.01);
    border-right-color: 	alpha (#000, 0.01);
    border-bottom-color: 	alpha (#000, 0.06);

    box-shadow: inset  0px  2px alpha(#def, 0.40),
                inset  3px  0px alpha(#000, 0.04),
                inset  2px  0px alpha(#fff, 0.12),
                inset -3px  0px alpha(#000, 0.04),
                inset -2px  0px alpha(#fff, 0.12),
                inset  0px -2px alpha(#cef, 0.35),
				inset  0px  1px @button_border_top_active,
                inset  1px  0px @button_border_left_active,
                inset -1px  0px @button_border_right_active,
                inset  0px -1px @button_border_bottom_active;
    color: @theme_text_color;
	text-shadow: 0px 1px @theme_shadow_color;
}

.button:checked:focus {
  /*  border-image-source: url("assets/button-active-focused.png");*/
}

.button:active {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@button_active_gradient_color_a),
                                     color-stop (0.50, @button_active_gradient_color_b),
                                     color-stop (0.51, @button_active_gradient_color_c),
                                     to (@button_active_gradient_color_d));

    border-top-color: 		transparent;
    border-left-color: 		alpha (#000, 0.01);
    border-right-color: 	alpha (#000, 0.01);
    border-bottom-color: 	alpha (#000, 0.06);

    box-shadow: inset  0px  2px alpha(#def, 0.40),
                inset  3px  0px alpha(#000, 0.04),
                inset  2px  0px alpha(#fff, 0.12),
                inset -3px  0px alpha(#000, 0.04),
                inset -2px  0px alpha(#fff, 0.12),
                inset  0px -2px alpha(#cef, 0.35),
				inset  0px  1px @button_border_top_active,
                inset  1px  0px @button_border_left_active,
                inset -1px  0px @button_border_right_active,
                inset  0px -1px @button_border_bottom_active;
    color: @theme_text_color;
	text-shadow: 0px 1px @theme_shadow_color;
}

.button:active:focus {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@button_active_gradient_color_a),
                                     color-stop (0.50, @button_active_gradient_color_b),
                                     color-stop (0.51, @button_active_gradient_color_c),
                                     to (@button_active_gradient_color_d));

    border-top-color: 		transparent;
    border-left-color: 		alpha (#000, 0.01);
    border-right-color: 	alpha (#000, 0.01);
    border-bottom-color: 	alpha (#000, 0.06);

    box-shadow: inset  0px  2px alpha(#def, 0.40),
                inset  3px  0px alpha(#000, 0.04),
                inset  2px  0px alpha(#fff, 0.12),
                inset -3px  0px alpha(#000, 0.04),
                inset -2px  0px alpha(#fff, 0.12),
                inset  0px -2px alpha(#cef, 0.35),
				inset  0px  1px @button_border_top_active,
                inset  1px  0px @button_border_left_active,
                inset -1px  0px @button_border_right_active,
                inset  0px -1px @button_border_bottom_active;
    color: @theme_text_color;
	text-shadow: 0px 1px @theme_shadow_color;
}

.button:active:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#e3e3e3),
                                     to (#f3f3f3));
}

.button.default {
  /*  border-image-source: url("assets/button-default.png");*/
}

.button.default:hover {
  /*  border-image-source: url("assets/button-default-hover.png");*/
}
.button.default:focus {
 /*   border-image-source: url("assets/button-default-focused.png");*/
}

.button.default:focus:hover {
  /*  border-image-source: url("assets/button-default-focused-hover.png"); */
}

/******************
 * Linked Widgets *
 *****************/
.linked > .entry,
.linked > .button,
.linked > GtkComboBox > .button {
    border-radius: 0;
    border-image-width: 10px 0 10px 0;
    border-width: 1px 0 1px 0;
}

.linked > .entry:first-child,
.linked > .button:first-child,
.linked > GtkComboBox:first-child > .button {
    border-image-width: 10px 0 10px 12px;
    border-radius: 8px 0 0 8px;
}

.linked > .entry:last-child,
.linked > .button:last-child,
.linked > GtkComboBox:last-child > .button {
    border-image-width: 10px 12px 10px 0;
    border-radius: 0px 8px 8px 0px;
    
}

.linked > .entry:only-child,
.linked > .button:only-child,
.linked > GtkComboBox:only-child > .button {
    border-image-width: 10px 12px 10px 12px;
    border-radius: 8px;
}

.primary-toolbar .linked .button,
.primary-toolbar .linked .button,
.header-bar .linked .button {
    
}

.primary-toolbar .linked .button:first-child,
.header-bar .linked .button:first-child {
   
}

.primary-toolbar .linked .button:last-child,
.header-bar .linked .button:last-child {
 
}

.primary-toolbar .linked .button:active,
.header-bar .linked .button:active,
.primary-toolbar .linked .button:insensitive,
.header-bar .linked .button:insensitive {
}

.primary-toolbar .linked .button:only-child,
.header-bar .linked .button:only-child {
}

/* Make linked dialog buttons look like they are not linked */
.message-dialog .linked.dialog-action-area .button {
    border-image-width: 10px;
    border-radius: 7px;
}

/****************
 * cell and row *
 ****************/
.cell {
    -GtkCheckButton-indicator-size: 17;
    -GtkWidget-focus-line-width: 0;

    background-color: @base_color;
    border-radius: 0;
    border-width: 0;
}

row:selected {
    background-image: -gtk-gradient (linear, left bottom, left top,
                                     from (shade (@selected_bg_color, 1.06)),
                                     to (shade (@selected_bg_color, 0.94)));
    border-top-color: shade (@selected_bg_color, 0.88);
    border-style: solid;
    border-width: 1px 0 0 0;
}

/*******************
 * check and radio *
 *******************/

/* Draw a focus ring around the contained label ... */
GtkCheckButton.text-button GtkLabel {
    border: 1px solid transparent;
    border-radius: 5px;
}

GtkCheckButton.text-button:focus GtkLabel {
    border-color: @focus_color;
    background-color: @focus_bg_color;
}

/* ... unless it's a proper button, which already has a focus-colored border */
.button.text-button:focus GtkLabel {
    border: none;
    background: none;
}

.check,
.radio,
.check:insensitive,
.radio:insensitive {
    -GtkCheckButton-indicator-size: 13;
    background-color: transparent;
    border-style: none;
    margin: 1px 0;
}

.check row {
 -GtkCheckButton-indicator-size: 13;
}
.menu .radio * {
    box-shadow: none;
}

/*****************
 * column-header *
 *****************/
column-header .button,
column-header .button:active {
    border-radius: 0;
    border-width: 0 1px 1px 0;
    border-image: none;
}

column-header .button {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@bg_color, 1.06)),
                                     to (shade (@bg_color, 1.04)));
    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@bg_color, 0.99)),
                                 to (shade (@bg_color, 0.9))) 1;
    box-shadow: inset -1px 0 shade (@bg_color, 1.1),
                inset 0 -1px shade (@bg_color, 1.1);

    text-shadow: 0 1px alpha (shade (@bg_color, 1.25), 0.4);
}


column-header .button:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@bg_color, 1.13)),
                                     to (shade (@bg_color, 1.08)));
    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@bg_color, 0.99)),
                                 to (shade (@bg_color, 0.9))) 1;
}



column-header:nth-child(last) .button {
    border-width: 0 0 1px 0;
}

/****************
 * Content view *
 ****************/
.content-view.view {
    background-color: shade (@bg_color, 1.01);
}

.content-view.view:prelight {
    background-color: blue;
}

.view:selected,
.view:active,
.content-view.view:selected,
.content-view.view:active {
    /*background-color: @selected_bg_color;*/
}

.content-view.view:insensitive {
    background-color: @bg_color;
}


GdMainIconView.content-view {
    -GdMainIconView-icon-size: 40;
}

/*********
 * entry *
 *********/
.entry {
background-color: @theme_bg_color;
    padding: 4px 4px;
	-GtkEntry-inner-border: 0;
    -GtkEntry-progress-border: 0;
    color: @entry_text_color;
    background-image: -gtk-gradient(linear,
                                    left top, left bottom,
                                    from       (@entry_background_a),
                                    color-stop (0.15, @entry_background_b),
                                    color-stop (0.50, @entry_background_c),
                                    to         (@entry_background_d));
	/* outer */
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-top-color: 		transparent;
    border-right-color: 	alpha(#fff, 0.03);
    border-left-color: 		alpha(#fff, 0.03);
    border-bottom-color: 	alpha(#fff, 0.07);	
	/* border */
    box-shadow: inset  0px  3px alpha(#000, 0.03),
				inset  0px  2px alpha(#000, 0.05),
                inset  2px  0px alpha(#000, 0.04),
                inset -2px  0px alpha(#000, 0.04),
                inset  0px -2px alpha(#000, 0.03),
				inset  0px  1px shade(@button_border, 0.90),
                inset  1px  0px shade(@button_border, 0.99),
                inset -1px  0px shade(@button_border, 0.99),
                inset  0px -1px shade(@button_border, 1.10);
    
}

.entry:selected,
.entry:selected:focused {
     background-color: @selected_bg_color;
    /* outer */
    border-top-color: 		alpha(@focused_entry_outer, 0.40);
    border-right-color: 	alpha(@focused_entry_outer, 0.45);
    border-left-color: 		alpha(@focused_entry_outer, 0.45);
    border-bottom-color: 	alpha(@focused_entry_outer, 0.40);

	/* border */
    box-shadow: inset  0px  3px alpha(#000, 0.03),
				inset  0px  2px alpha(#000, 0.05),
                inset  2px  0px alpha(#000, 0.04),
                inset -2px  0px alpha(#000, 0.04),
                inset  0px -2px alpha(#000, 0.03),
				inset  0px  1px alpha(@focused_entry_border, 0.95),
                inset  1px  0px alpha(@focused_entry_border, 0.90),
                inset -1px  0px alpha(@focused_entry_border, 0.90),
                inset  0px -1px alpha(@focused_entry_border, 0.85);

}

.entry:insensitive {
    color: @insensitive_fg_color;
    background-image: none;
    background-color: @insensitive_bg_color;
    border-style: solid;
	border-color: alpha (#000, 0.00);
    border-bottom-color: 	alpha (#000, 0.00);
    border-image: none;
	box-shadow:	inset  0px  1px @insensitive_border_color,
                inset  1px  0px @insensitive_border_color,
                inset -1px  0px @insensitive_border_color,
                inset  0px -1px @insensitive_border_color;
}

.entry.readonly {
    background-color: #f5f5f5;
    background-image: none;
}

.primary-toolbar .entry.progressbar,
.primary-toolbar .entry.progressbar,
.header-bar .entry.progressbar,
.header-bar .entry.progressbar,
.entry.progressbar {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;

    border-width: 1px;
    border-radius: 3px;
}

/* Application notification */
.app-notification,
.app-notification.frame {
    padding: 3px;
    border-width: 0 1px 1px;
    border-style: solid;
    background-color: @bg_color;
}

/************
 * expander *
 ************/
.expander {
    color: @fg_color;
}

/*********
 * frame *
 *********/
.frame {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: shade (@bg_color, 0.82);
    border-image: none;
    background: none;
}

.frame.flat {
    border: none;
}

/**********************
 * Window Decorations *
 *********************/
.window-frame {
    border-radius: 10px 10px 0 0;
    border-width: 0px;
    box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.23);

    /* this is used for the resize cursor area */
    margin: 10px;
}

.window-frame.tiled {
     border-radius: 0;
}
  
.window-frame.popup {
     box-shadow: none;
}
  
.window-frame.ssd {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.23);
}
  
.window-frame.csd .popup {
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.13);
}
  
.window-frame.csd.tooltip {
    border-radius: 5px;
    box-shadow: none;
}
  
.window-frame.csd.message-dialog {
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.13);
}

/****************
 * window-frame *
 ****************/

.window-frame.csd.popup {
    border-style: none;
    border-radius: 0;
    box-shadow: 0 3px 8px @shadow_color;
}

.window-frame.solid-csd {
  border-radius: 0;
  background-color: @fg_color;
  border: 1px solid darker(@fg_color);
  box-shadow: none;
  margin: 0px;
}

/************
 * iconview *
 ************/
.view {
    background-color: @base_color;
    color: @text_color;
}

GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focused {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@selected_bg_color, 1.0)),
                                     to (shade (@selected_bg_color, 0.9)));
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: shade (@selected_bg_color, 0.8);
    border-bottom-color: shade (@selected_bg_color, 0.7);

    box-shadow: inset 1px 0 shade (@selected_bg_color, 1.05),
                inset -1px 0 shade (@selected_bg_color, 1.05),
                inset 0 1px shade (@selected_bg_color, 1.08),
                inset 0 -1px shade (@selected_bg_color, 1.0);
}

.rubberband {
    background-color: alpha (@selected_bg_color, 0.35);
    border-color: @selected_bg_color;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
}

GtkIconView.cell {
    background-color: transparent;
}

/***********
 * infobar *
 ***********/
.info {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@info_bg_color, 1.04)),
                                     to (shade (@info_bg_color, 0.96)));
    border-style: solid;
    border-width: 1px;

    color: @info_fg_color;

    border-color: shade (@info_bg_color, 0.8);
    border-bottom-color: shade (@info_bg_color, 0.75);

    box-shadow: inset 1px 0 shade (@info_bg_color, 1.08),
                inset -1px 0 shade (@info_bg_color, 1.08),
                inset 0 1px shade (@info_bg_color, 1.1),
                inset 0 -1px shade (@info_bg_color, 1.04);
}

.warning {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@warning_bg_color, 1.04)),
                                     to (shade (@warning_bg_color, 0.96)));
    border-style: solid;
    border-width: 1px;

    color: @warning_fg_color;

    border-color: shade (@warning_bg_color, 0.8);
    border-bottom-color: shade (@warning_bg_color, 0.75);

    box-shadow: inset 1px 0 shade (@warning_bg_color, 1.08),
                inset -1px 0 shade (@warning_bg_color, 1.08),
                inset 0 1px shade (@warning_bg_color, 1.1),
                inset 0 -1px shade (@warning_bg_color, 1.04);
}

.question {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@question_bg_color, 1.04)),
                                     to (shade (@question_bg_color, 0.96)));
    border-style: solid;
    border-width: 1px;

    color: @question_fg_color;

    border-color: shade (@question_bg_color, 0.8);
    border-bottom-color: shade (@question_bg_color, 0.75);

    box-shadow: inset 1px 0 shade (@question_bg_color, 1.08),
                inset -1px 0 shade (@question_bg_color, 1.08),
                inset 0 1px shade (@question_bg_color, 1.1),
                inset 0 -1px shade (@question_bg_color, 1.04);
}

.error {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@error_bg_color, 1.04)),
                                     to (shade (@error_bg_color, 0.96)));
    border-style: solid;
    border-width: 1px;

    color: @error_fg_color;

    border-color: shade (@error_bg_color, 0.8);
    border-bottom-color: shade (@error_bg_color, 0.75);

    box-shadow: inset 1px 0 shade (@error_bg_color, 1.08),
                inset -1px 0 shade (@error_bg_color, 1.08),
                inset 0 1px shade (@error_bg_color, 1.1),
                inset 0 -1px shade (@error_bg_color, 1.04);
}

/********
 * menu *
 ********/
GtkTreeMenu.menu,
.toolbar .header-bar .menu,
GtkMenuToolButton.menu,
.primary-toolbar .button .menu,
.header-bar .button .menu,
.menu {

    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#f0f0f0),
                                     to (#f0f0f0));


	
    padding: 5px 0px;
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;

	border-color: shade(@menu_bg_dark_color, 0.97);
	border-image: 	none;
}

.toolbar .menu,
GtkComboBox .menu {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@transparent),
                                     to (@transparent));
   background-color: #f0f0f0;
    border-bottom-color: shade (@bg_color, 0.66);
    border-left-color: shade (@bg_color, 0.7);
    border-right-color: shade (@bg_color, 0.7);
    border-top-color: shade (@bg_color, 0.8);
    border-style: solid;
    padding: 0;
    border-color: #888888;
    border-width: 1px;

    color: @fg_color;

    box-shadow: inset -1px 0 shade (@bg_color, 1.18),
                inset 1px 0 shade (@bg_color, 1.18),
                inset 0 1px shade (@bg_color, 1.18);
}

.menu:selected {
     background-color: @theme_selected_bg_color;
}

.menu.button:hover,
.menu.button:checked,
.menu.button:checked:insensitive,
.menu.button:insensitive,
.menu.button
{
    background-color: shade (@menu_bg_dark_color, 1.07);
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@menu_bg_dark_color),
                                     to (shade(@menu_bg_dark_color, 0.96)));
    border-radius: 0;
    border-style: none;
    border-width: 1px;

    border-image: none;
}

.menu.button {
	padding: 0px;
    background-image: none;
    background-color: shade (@menu_bg_dark_color, 0.95);
	color: mix (@menu_fg_dark_color, @menu_bg_dark_color, 0.3);
	box-shadow: none;
    border-image: none;
    border-style: none;
}

.context-menu {
    font: regular medium;
}

/***********
 * menubar *
 ***********/
.menubar {
   -GtkWidget-window-dragging: true;

    /* linea 3D  (oscura) */
	box-shadow: inset  0px -1px @menu_line_dark_color;

    /* linea 3D (clara) */
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-radius: 0px;
    border-bottom-color:  shade(@theme_highlight_color, 1.00);

    background-color: shade (@theme_bg_dark_color, 1.00);
    color: @menu_fg_dark_color;
}

/***************
 * menubaritem *
 ***************/
.menubar .menuitem {
background-image: none;
}

/************
 * menuitem *
 ************/
GtkComboBox .menu,
.menu .menuitem,
.menuitem {
    -GtkMenuItem-horizontal-padding: 0;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#f0f0f0),
                                     to (#f0f0f0));
    border-radius: 0;
    padding: 4px 5px 4px 5px;

            

}

/* Workaround for lp:949368 */
GtkComboBox .menuitem * {
    color: @fg_color;
}

GtkComboBox .menuitem *:hover {
    color: @selected_fg_color;
}

.popover .menuitem:checked:hover,
.menuitem:hover,
.menu .menuitem:hover {
    border-radius: 0;
   background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#617df7),
                                     to (#3055f4));

    color: white;
}

.menuitem.check:checked,
.menuitem.radio:checked {
    color: @fg_color;
}

.menu .menuitem.check:hover,
.menu .menuitem.radio:hover {
    box-shadow: none;
}

GtkTreeMenu.menu .menuitem:insensitive,
GtkTreeMenu.menu .menuitem *:insensitive,
.toolbar .header-bar .menu .menuitem:insensitive,
.toolbar .header-bar .menu .menuitem *:insensitive,
GtkMenuToolButton.menu .menuitem:insensitive,
GtkMenuToolButton.menu .menuitem *:insensitive,
.primary-toolbar .button .menu .menuitem:insensitive,
.primary-toolbar .button .menu .menuitem *:insensitive,
.header-bar .button .menu .menuitem:insensitive,
.header-bar .button .menu .menuitem *:insensitive,
.menuitem:insensitive,
.menuitem *:insensitive {
    color: mix (@dark_fg_color, @dark_bg_color, 0.5);
     text-shadow:none;
    
}

.toolbar .menu .menuitem:insensitive,
.toolbar .menu .menuitem *:insensitive,
GtkComboBox .menu .menuitem:insensitive,
GtkComboBox .menu .menuitem *:insensitive {
    color: mix (@fg_color, @bg_color, 0.5);
    
}

.menuitem GtkCalendar,
.menuitem GtkCalendar.button,
.menuitem GtkCalendar.header,
.menuitem GtkCalendar.view {
    background-color: @dark_bg_color;
    background-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    padding: 0;

    color: @dark_fg_color;
}

.menuitem GtkCalendar {
    background-color: shade (@bg_color, 1.3);
    background-image: none;
}

.menuitem GtkCalendar:inconsistent {
   color: shade (@fg_color, 0.6);
}

.menuitem .entry {
    background-color: shade (@dark_bg_color, 1.3);
    background-image: none;

    color: @fg_color;

    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@dark_bg_color, 0.75)),
                                 to (shade (@dark_bg_color, 0.9))) 1;
    border-image-width: 1px;
}

.primary-toolbar GtkScale.trough,
.header-bar GtkScale.trough,
.menuitem GtkScale.trough {
    background-color: @dark_bg_color;
    background-image: none;
    border-image: -gtk-gradient (linear, left top, left bottom,
                                 from (shade (@dark_bg_color, 0.75)),
                                 to (shade (@dark_bg_color, 1.15))) 1;
    border-image-width: 1px;
}

.menuitem .accelerator {
    color: @fg_color;
}

.menuitem .accelerator:hover {
    color: @selected_fg_color;
}

.menuitem .accelerator:insensitive {
    color: alpha (mix (@dark_fg_color, @dark_bg_color, 0.5), 0.5);
    text-shadow: none;
}

.menuitem > GtkBox > GtkImage + GtkLabel {
    padding-left: 6px;
}

/************
 * notebook *
 ************/
.notebook tab.top { padding: 4px 6px 2px 6px; }
.notebook tab.top:active { padding-bottom: 4px; }
.notebook tab.bottom { padding: 2px 6px 4px 6px; }
.notebook tab.bottom:active { padding-top: 4px; }
.notebook tab.left { padding: 2px 4px 2px 6px; }
.notebook tab.left:active { padding-right: 5px; }
.notebook tab.right { padding: 2px 6px 2px 4px; }
.notebook tab.right:active { padding-left: 5px; }

/* give active tab a background, as it might be dragged across of others when reordering */
.notebook tab:active {
    background-color: #ffffff;
    box-shadow: none;
}

.notebook.header {
    border-width: 1px; /* set below depending on position of tab bar */
    border-color: #ffffff;
    border-style: solid; 
    background: @none; 
}

/* Draw a border between tabs and content ... */
.notebook.header.top { border-bottom-width: 1px; }
.notebook.header.right { border-left-width: 1px; }
.notebook.header.left { border-right-width: 1px; }
.notebook.header.bottom { border-top-width: 1px; }

/* ... unless the content is in a frame (thus having a border itself */
.notebook.header.frame.top { border: none; }
.notebook.header.frame.right { border: none; }
.notebook.header.frame.left { border: none; }
.notebook.header.frame.bottom { border: none; }

.notebook tab.top {
    border-color: #858585;
    border-width: 1px 1px 0px 1px;
    border-radius: 0px;
}

.notebook tab.right {
    border-color: #858585;
    border-width: 1px 1px 1px 0px;
}

.notebook tab.left {
    border-color:  #858585;
    border-width: 1px 0px 1px 1px;
}

.notebook tab.bottom {
    border-color: #858585;
    border-width: 0px 1px 1px 1px;
}

.notebook GtkDrawingArea {
box-shadow: none;
background-color: #ffffff;
       
}

/*****************************
* additional blx tab section *
*****************************/
.notebook tab {
    
 padding: 0 5px 3px 5px;
    border-color: #737373;
    border-image: none;                                
    border-width: 1px ;   
    background-image: -gtk-gradient (linear, left bottom, left top,
                                     from (#ffffff),
                                     color-stop (0.4,#efeeef),
                                     color-stop (0.41,#e1e1e1),
                                     color-stop (0.7,#f6f6f5),
                                     to (#ffffff));
background-color: #ffffff;

}

.notebook tab:active {
 background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (rgb(185,185,185)),
                                     color-stop (0.66, rgb(235,235,235)),
                                     to (rgb(245,245,245)));

	border-top-color: 		shade(@theme_mdi_border_color, 0.95);
	border-left-color: 		shade(@theme_mdi_border_color, 1.00);
	border-right-color: 	shade(@theme_mdi_border_color, 1.00);
	border-bottom-color: 	shade(@theme_mdi_border_color, 1.00);
	border-image: none;

    box-shadow: inset  0px  4px alpha(#000, 0.00),
				inset  0px  3px alpha(#000, 0.00),
				inset  0px  2px alpha(#000, 0.00),
				inset  0px  1px alpha(#000, 0.00),

                inset  4px  0px alpha(#000, 0.01),
                inset  3px  0px alpha(#000, 0.02),
                inset  2px  0px alpha(#000, 0.04),
                inset  1px  0px alpha(#000, 0.06),

                inset -4px  0px alpha(#000, 0.01),
                inset -3px  0px alpha(#000, 0.02),
                inset -2px  0px alpha(#000, 0.04),
                inset -1px  0px alpha(#000, 0.06)
}

/* margin 0px fix*/

.notebook {
 padding: 0px;

	background-color: shade(@theme_bg_color, 0.97);

    /* background and border-bottom */
    background-image: linear-gradient(to top, 
									  shade(@notebook_border, 1.40) 1px,
                                      shade(@theme_bg_color, 0.965)  1px,
                                      shade(@theme_bg_color, 0.965));

	border-style: solid;
    border-width: 1px 1px 0px 1px;
	border-radius: 4px;

	border-top-color:       shade(@notebook_border, 1.08);
    border-left-color: 		shade(@notebook_border, 1.29);
    border-right-color: 	shade(@notebook_border, 1.29);

    box-shadow: inset  0px  3px alpha(#000, 0.01),
				inset  0px  2px alpha(#000, 0.04),
				inset  0px  1px alpha(#000, 0.06);

    -GtkWidget-focus-line-width: 0;

}

/******************
 * pane separator *
 ******************/
.sidebar .pane-separator,
.pane-separator {
    background-color: transparent;
    border-color: shade (@bg_color, 0.84);
}

/*************************
 * progressbar and scale *
 *************************/
GtkScale,
GtkProgressBar {
    border-radius: 8px;
    border-width: 0px;
    padding: 1px;
}

.scale.trough {
   margin: 7px 0;
    background-image: -gtk-gradient (linear,
			         left top,
			         left bottom,
			         from (alpha (#000, 0.40)),
			         to   (alpha (#000, 0.02)));

    border-style: none;
    border-width: 0px;
    border-radius: 8px;
    box-shadow: inset  0px  1px alpha(#000, 0.23),
                inset  1px  0px alpha(#000, 0.22),
                inset -1px  0px alpha(#000, 0.22),
                inset  0px -1px alpha(#000, 0.215);
}

.scale.trough.vertical {
   margin: 0 7px;
    background-image: -gtk-gradient (linear,
			         left top,
			         right top,
			         from (alpha (#000, 0.40)),
			         to   (alpha (#000, 0.02)));

    box-shadow: inset  0px  1px alpha(#000, 0.22),
                inset  1px  0px alpha(#000, 0.23),
                inset -1px  0px alpha(#000, 0.215),
                inset  0px -1px alpha(#000, 0.22);
}

.menubar .menuitem .scale.highlight.left,
.scale.highlight.left,
.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focused,
.progressbar row:nth-child(odd) {
    background-image:  -gtk-gradient (radial,
										center center, 0.50,
										center center, 0.05,
										from (alpha (#fff, 0.00)),
										to   (alpha (#310, 0.10))),
                        -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@progressbar_top_color),
                                     color-stop (0.49, shade (@progressbar_mid_color, 1.10)),
                                     color-stop (0.50, shade (@progressbar_mid_color, 0.95)),
                                     to   (@progressbar_bottom_color));

    background-size: 18px auto, auto; 
    box-shadow: inset 0px  1px alpha(white, 0.2), 
                inset 0px -1px alpha(white, 0.1);

    border-width: 1px;
    border-style: solid;

    border-top-color: 		#959595;
    border-left-color: 		#a3a3a3;
    border-right-color: 	#a3a3a3;
    border-bottom-color: 	#a3a3a3;
    border-radius: 2px;

	color: 			@theme_fg_color;
	text-shadow:	@theme_shadow_color;
}

.progressbar.vertical {
background-image:  -gtk-gradient (radial,
										center center, 0.50,
										center center, 0.05,
										from (alpha (#fff, 0.00)),
										to   (alpha (#310, 0.10))),
                        -gtk-gradient (linear,
                                     left top, right top,
                                     from (@progressbar_top_color),
                                     color-stop (0.49, shade (@progressbar_mid_color, 1.10)),
                                     color-stop (0.50, shade (@progressbar_mid_color, 0.95)),
                                     to   (@progressbar_bottom_color));

    background-size: auto 18px, auto;
}

.trough,
.trough row,
.trough row:hover,
.trough row:selected,
.trough row:selected:focused {
     background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@trough_bg_color_a),
                                     to   (@trough_bg_color_b));

    border-style: none;
    border-width: 0px;
    border-radius: 2px;
    box-shadow: inset  0px  3px alpha(#000, 0.02),
                inset  0px  2px alpha(#000, 0.05),
                inset  0px  1px alpha(#000, 0.20),
                inset  1px  0px alpha(#000, 0.15),
                inset -1px  0px alpha(#000, 0.15),
                inset  0px -2px alpha(#000, 0.05),
                inset  0px -1px alpha(#000, 0.15);

	text-shadow:	none;
}

.trough.vertical {
    background-image: -gtk-gradient (linear,
                                     left top, right top,
                                     from (@trough_bg_color_a),
                                     to   (@trough_bg_color_b));
	text-shadow:	none;
}

/* level bars as used for password quality or remaining power */

GtkLevelBar {
    -GtkLevelBar-min-block-width: 34;
    -GtkLevelBar-min-block-height: 3;
}

GtkLevelBar.vertical {
    -GtkLevelBar-min-block-width: 3;
    -GtkLevelBar-min-block-height: 34;
}

.level-bar.trough {
    padding: 2px;
}

.level-bar.fill-block {
    border-width: 1px;
    border-style: solid;

    border-color: shade(#59558f, 1.00);
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 0.90)),
                                     to   (shade(@theme_selected_bg_color, 1.10)));
    
}

.level-bar.indicator-continuous.fill-block {
    padding: 2px;
    border-radius: 2px;
}

.level-bar.indicator-discrete.fill-block.horizontal {
    margin: 0 1px;
}

.level-bar.indicator-discrete.fill-block.vertical {
    margin: 1px 0;
}

.level-bar.fill-block.level-high {
    border-color: shade(@success_color, 0.85);
    background-image: linear-gradient(to bottom,
                                      shade(@success_color, 1.2),
                                      @success_color 75%,
                                      shade(@success_color, 0.95)
                                      );
}

.level-bar.fill-block.level-low {
    border-color: shade(@warning_bg_color, 0.80);
    background-image: linear-gradient(to bottom,
                                      shade(@warning_bg_color, 1.3),
                                      @warning_bg_color 75%,
                                      shade(@warning_bg_color, 0.90)
                                      );
}

.level-bar.fill-block.empty-fill-block {
    background-color: transparent;
    background-image: none;
    border-color: alpha(@bg_color, 0.1);
}

GtkScale {
    -GtkScale-slider-length: 19;
    -GtkRange-slider-width: 19;
    -GtkRange-trough-border: 0;
    -GtkWidget-focus-line-width: 0;
}

GtkScale.vertical {
    -GtkScale-slider-length: 17;
}


GtkScale.mark {
    border-color: shade (@bg_color, 0.8);
}

/*************
 * scrollbar *
 *************/
.scrollbar {
    -GtkRange-slider-width: 7;
    -GtkRange-stepper-size: 0;
    -GtkRange-stepper-spacing: 0;
    -GtkRange-trough-border: 3;
    -GtkScrollbar-has-backward-stepper: 0;
    -GtkScrollbar-has-forward-stepper: 0;
    
    -GtkScrollbar-min-slider-length: 30;	
}

.scrollbar.trough {
	border-image: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@bg_color, 0.74)),
                                           to (shade (@bg_color, 0.74)));
}

.scrollbar.trough.vertical {
	box-shadow: none;
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (shade (@theme_bg_color, 1.00)),
                                     to (shade (@theme_bg_color, 1.10)));

	border-style: solid;
	border-width: 0px 0px 0px 1px;
    border-radius: 0px;
	border-left-color: shade (@theme_bg_color, 0.96);
}

.scrollbar.trough.horizontal {
	box-shadow: none;
    border-radius: 0px;
	border-width: 0px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.00)),
                                     to (shade (@theme_bg_color, 1.10)));

	border-style: solid;
	border-width: 1px 0px 0px 0px;
    border-radius: 0px;
	border-top-color: shade (@theme_bg_color, 0.96);
}



.scrollbar.slider {
        border-width: 1px;
        border-style: solid ; 
        border-color: #979797;
	border-radius: 2px;
        background-repeat: no-repeat;
	background-position: center center ;
        background-clip: padding-box;
        box-shadow: inset 1px 0 #f6f6f6,
                inset -1px 0 #f6f6f6,
                inset 0 1px #f6f6f6,
                inset 0 -1px #f6f6f6;
}

.scrollbar.slider:hover {
        border-width: 1px;
        border-style: solid ; 
        border-color: #3c7fb1;
	border-radius: 2px;
        box-shadow: inset 1px 0 #f6f6f6,
                inset -1px 0 #f6f6f6,
                inset 0 1px #f6f6f6,
                inset 0 -1px #f6f6f6;
}

/* overlay scrollbar */
OsThumb {
    color: shade (@fg_color, 1.6);
}

OsThumb:selected,
GtkScrollbar:selected {
    background-color: @selected_bg_color;
}

OsThumb:active,
GtkScrollbar:active {
    background-color: shade (@bg_color, 0.6);
}

OsThumb:insensitive,
GtkScrollbar:insensitive {
    background-color: shade (@bg_color, 0.85);
}

/*******************
 * scrolled window *
 *******************/
.ubuntu-online-accounts.frame,
GtkScrolledWindow.frame {
    border-top-color: shade (@bg_color, 0.84);
    border-right-color: shade (@bg_color, 0.76);
    border-bottom-color: shade (@bg_color, 0.86);
    border-left-color: shade (@bg_color, 0.76);
    border-radius: 0;
    border-style: solid;
}

.ubuntu-online-accounts.frame {
    border-top-width: 0;
}

/*************
 * separator *
 *************/
.separator {
    border-width: 1px;
    border-style: solid;
    border-image: none;
	border-color:  mix(@theme_fg_color, @theme_bg_color, 0.95);
    border-bottom-color: alpha (shade (@theme_bg_color, 1.26), 0.10);
    border-right-color:  alpha (shade (@theme_bg_color, 1.26), 0.10);
}

GtkTreeView.view.separator,
GtkTreeView.separator,
.separator,
.separator:hover {
    color: shade (@theme_bg_color, 0.92);
    border-color:  mix(@theme_fg_color, @theme_bg_color, 0.95);
    border-image: none;
}

.separator.horizontal {
    border-width: 1px 0 1px 0;
}

.separator.vertical {
    border-width: 0 1px 0 1px;
}

GtkComboBox .separator {
    -GtkWidget-wide-separators: true;
    -GtkWidget-horizontal-separator: 0;
    -GtkWidget-vertical-separator: 0;
}

.button .separator,
.button.separator {
   border-color: alpha (#000, 0.00);
}

.button .separator:insensitive,
.button.separator:insensitive {
   border-color: alpha (#000, 0.00);
}

.menuitem.separator {
   -GtkMenuItem-horizontal-padding: 0;
	-GtkWidget-separator-height: 1;

    border-width: 1px 0 1px 0;
    border-style: solid;
    border-image: none;
    border-color: shade(@menu_bg_dark_color, 0.90);
    border-image: -gtk-gradient (linear,
							left top, right top,
							from (shade(@menu_bg_dark_color, 0.88)),	
							to   (shade(@menu_bg_dark_color, 0.88))) 1;
}

GtkTreeMenu .menuitem.separator,
.toolbar .header-bar .menuitem.separator,
GtkMenuToolButton .menuitem.separator,
.primary-toolbar .button .menuitem.separator,
.header-bar .button .menuitem.separator,
.menuitem.separator {
    border-color: #bcbcbc;
    border-bottom-color: white;
    border-right-color: alpha (shade (@dark_bg_color, 1.26), 0.5);
}

.toolbar .menuitem.separator,
GtkComboBox .menuitem.separator {
    border-color: shade (@bg_color, 0.92);
    border-bottom-color: alpha (shade (@bg_color, 1.26), 0.6);
    border-right-color: alpha (shade (@bg_color, 1.26), 0.6);
}

/***********
 * sidebar *
 ***********/
GtkPlacesSidebar.sidebar .view {
    background-color: shade (@bg_color, 0.95);

    color: @fg_color;
    text-shadow: 0 1px shade (shade (@bg_color, 0.95), 1.04);
}

GtkPlacesSidebar.sidebar row:selected {
    color: @selected_fg_color;
    text-shadow: 0 1px shade (@selected_bg_color, 0.7);
}

GtkPlacesSidebar.sidebar .sidebar-icon {
    padding-left: 10px;
    padding-right: 10px;
}


/**************
 * spinbutton *
 **************/
.spinbutton.button:active,
.spinbutton.button:insensitive,
.spinbutton.button {
    border-radius: 0;
}

.spinbutton.button:active:nth-child(last),
.spinbutton.button:insensitive:nth-child(last)
.spinbutton.button:nth-child(last) {
    border-radius: 0 7px 7px 0;
}

.spinbutton.button,
.spinbutton.button:active,
.spinbutton.button:hover {
    background-image: none;
    background-color: transparent;
    border-image: none;
    border-width: 0 0 0 1px;
    border-left-color: alpha (shade (@bg_color, 0.6), 0.22);
}

.spinbutton.button:active {
   color: @internal_element_prelight;
   
}

.spinbutton.button:insensitive {
    color: @insensitive_border_color;  
}

.spinbutton,
.spinbutton:hover {
    color: @fg_color;
}

/***********
 * spinner *
 ***********/
@keyframes spinner {
    to { -gtk-icon-transform: rotate(1turn); }
}

.spinner {
    -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
    color: @selected_bg_color;
    opacity: 0;
}

.spinner:active {
    animation: spinner 1s infinite linear;
    opacity: 1;
}

.spinner:active:insensitive {
    opacity: 0.5;
}

/*************
 * statusbar *
 *************/
GtkStatusbar {
}

/**********
 * switch *
 **********/
GtkSwitch {
    border-radius: 8px;
    padding: 0;
}

GtkSwitch.trough {
    border-radius: 8px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#cecece),
                                     to (#e8e8e8));

    color: @fg_color;
    text-shadow: 0 1px alpha (shade (@bg_color, 1.25), 0.5);
}

GtkSwitch.trough:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@selected_bg_color, 0.93)),
                                     to (shade (@selected_bg_color, 0.99)));

    color: @selected_fg_color;
    text-shadow: none;
}

GtkSwitch:focus {
    outline: 2px solid @focus_color;
    outline-offset: -2px;
    outline-radius: 6px;
}

/* XXX temporary */
GtkSwitch.trough:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@bg_color, 0.93)),
                                     to (shade (@bg_color, 0.99)));

    color: shade (@bg_color, 0.6);
    text-shadow: 0 1px alpha (shade (@bg_color, 1.25), 0.5);
}

GtkSwitch.slider {
    padding: 1px;
    border-radius: 6px;
    border-style: solid;

    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@button_bg_color, 1.08)),
                                     color-stop (0.5, @button_bg_color),
                                     to (shade (@button_bg_color, 0.94)));

    color: @fg_color;
    text-shadow: 0 1px alpha (shade (@button_bg_color, 1.25), 0.4);
}

/************
 * textview *
 ************/
GtkTextView {
    background-color: @base_color;
}

.header-bar {
    padding: 2px 6px;
}

/*
 * Header Bars
 *
 * The following rules only style header bars when they are used as a window's
 * titlebar widget (i.e., they have .titlebar set as well).
 *
 * Some applications reuse their header bar as a primary toolbar on desktops
 * that prefer showing traditional title bars. The rules for those are further
 * down grouped with normal toolbars.
 */
.titlebar.header-bar {
     /* linea 3D  (oscura) */
	box-shadow: inset  0px -1px @menu_line_dark_color;



    background-color: shade (@theme_bg_dark_color, 1.00);
    color: @menu_fg_dark_color;
}

.titlebar.header-bar .title {
    font: bold;
}

.titlebar.header-bar .subtitle {
    font-size: smaller;
    opacity: 0.5;
}

.solid-csd .titlebar.header-bar,
.maximized .titlebar.header-bar {
    border-radius: 0;
    border: none;
}

.maximized .titlebar.header-bar.toolbar-mode {
    box-shadow: none;
}

.titlebar.header-bar .button.titlebutton {
    background-clip: padding-box;
    border: 1px solid #5d6f88;
    color: #3d3c37;
    icon-shadow: 0px 1px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    padding: 0;
    box-shadow: none;
    background-image: linear-gradient(to bottom, #c3d4e7,#bfd3e8 49%,#98b1cc 50%, #b7d0e9);
}

.titlebar.header-bar .button.titlebutton.close {
    background-clip: padding-box;
    color: #3d3c37;
    icon-shadow: 0px 1px rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(to bottom, #e9a99c,#df9587 49%,#b8432c 50%, #d27e6f);
}

.titlebar.header-bar .button.titlebutton.close:hover {
    background-image: linear-gradient(to top, #e24f1b, #f17750 50%, #fba992);
}

.titlebar.header-bar .button.titlebutton:hover {
    background-image: linear-gradient(to top, #969696, #bdbdbd 50%, #cacaca);
}

.titlebar.header-bar .button.titlebutton:active {
    icon-shadow: none;
    background-image: linear-gradient(to top, #77766f, #74736c);
}

.titlebar.header-bar .button.titlebutton.close:active {
    background-image: linear-gradient(to top, #ec6e44, #e76b41);
}


/***********
 * toolbar *
 ***********/
.toolbar {
    padding: 2px 4px;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_bg_dark_color, 1.00)),
                                     to   (shade(@theme_bg_dark_color, 0.84)));

    border-width: 0 0 1px 0;
    border-radius: 0px;
    border-style: solid;
    border-bottom-color: shade(@toolbar_gradient_base, 0.84);

    color: 	@theme_fg_dark_color;
}

/*******************
 * primary-toolbar *
 *******************/
.primary-toolbar,
.primary-toolbar .toolbar,
.primary-toolbar.toolbar,
.menubar.toolbar,
.header-bar,
GtkWindow > GtkVBox > .dock,
GtkWindow > GtkVBox > GtkHandleBox > GtkHBox,
GtkWindow > GtkVBox > .dock > GtkHBox > GtkToolbar  {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_bg_dark_color, 1.00)),
                                     to   (shade(@theme_bg_dark_color, 0.84)));

	border-image: none;    
	border-width: 0px 0px 1px 0px;
    border-radius: 0px;
    border-style: solid;    
    border-color: shade (@theme_bg_dark_color, 0.64);
	padding: 3px;

    -GtkWidget-window-dragging: true;
    -GtkToolbar-button-relief: normal;
	color: @theme_fg_dark_color;
}

.primary-toolbar :insensitive,
.header-bar :insensitive {
    text-shadow: 0 -1px shade (@dark_bg_color, 0.7);
}

.primary-toolbar .button,
.header-bar .button,
.toolbar .button {
    border-image: none;
    border-width: 1px;
    border-color: @none;
    box-shadow:	inset  0px  2px @none,
                inset  0px  1px @none,
                inset  2px  0px @none,
                inset  1px  0px @none,
                inset -2px  0px @none,
                inset -1px  0px @none,
                inset  0px -2px @none,
                inset  0px -1px @none;
   background: transparent;
    color: @dark_fg_color;
    text-shadow: none;
     padding: 4px;
}

.primary-toolbar.toolbar.horizontal .button
.primary-toolbar .button,
.menubar.toolbar .button {
   /* border-image: url("assets/button-toolbar.png") 10 12 10 12 / 10px 12px 10px 12px stretch;*/
}


.primary-toolbar .button.flat:hover {
    background: transparent;
    color: @dark_fg_color;
    text-shadow: none;
   /* border-image-source: url("assets/button-toolbar.png");*/
    padding: 4px;
}

.toolbar .button.flat
.primary-toolbar .button.flat {
    border-image-source: none;
    background: transparent;
}

.toolbar .button:focused,
.primary-toolbar .button:focused,
.header-bar .button:focused {
  /*  border-image-source: url("assets/button-toolbar-focused.png");*/

}

.toolbar .button:active,
.toolbar .button:checked,
.primary-toolbar .button:active,
.primary-toolbar .button:checked,
.header-bar .button:active,
.header-bar .button:checked {
    background-image: -gtk-gradient (linear, left top, left bottom,
	                                 from (shade(@theme_bg_dark_color, 1.00)),
                                     color-stop (0.20, shade(@theme_bg_dark_color, 1.09)),
	                                 to   (shade(@theme_bg_dark_color, 1.10)));

    border-style:  solid;
	border-width:  1px;
    border-image:  none;

    border-top-color: 		alpha (#000, 0.38);
    border-left-color: 		alpha (#000, 0.22);
    border-right-color: 	alpha (#000, 0.22);
    border-bottom-color: 	alpha (#000, 0.18);

    box-shadow:	inset  0px  2px alpha(#000, 0.03),
                inset  0px  1px alpha(#000, 0.06),
                inset  2px  0px alpha(#000, 0.03),
                inset  1px  0px alpha(#000, 0.06),
                inset -2px  0px alpha(#000, 0.03),
                inset -1px  0px alpha(#000, 0.06),
                inset  0px -2px alpha(#000, 0.02),
                inset  0px -1px alpha(#000, 0.04);
}

.toolbar .button:active:focused,
.toolbar .button:checked:focused,
.primary-toolbar .button:active:focused,
.primary-toolbar .button:checked:focused,
.header-bar .button:active:focused,
.header-bar .button:checked:focused {

    /*border-image-source: url("assets/button-toolbar-active-focused.png");*/
}


.primary-toolbar.toolbar.horizontal  .button:hover,
.toolbar .button:hover,
.primary-toolbar .button:hover,
.header-bar .button:hover,
.header-bar .button:checked {
    border-width: 1px;
    background-image: -gtk-gradient (linear, left top, left bottom,
	                                 from (shade(@theme_bg_dark_color, 1.05)),
                                     color-stop (0.30, shade(@theme_bg_dark_color, 1.00)),
	                                 to   (shade(@theme_bg_dark_color, 0.98)));
   border-top-color: 		alpha (#000, 0.20);
    border-left-color: 		alpha (#000, 0.25);
    border-right-color: 	alpha (#000, 0.25);
    border-bottom-color: 	alpha (#000, 0.30);
	border-image: none;

    box-shadow: inset  1px  0px alpha(#fff, 0.12),
				inset -1px  0px alpha(#fff, 0.12);

}

/*
blxtry
*/




.toolbar .linked .button,
.header-bar .linked .button,
.titlebar.header-bar .linked .button {
box-shadow:    inset  0px  1px shade(@theme_button_border_dark, 0.68),
                inset  1px  0px shade(@theme_button_border_dark, 0.77),
                inset  0px -1px shade(@theme_button_border_dark, 0.92);
border-width: 0px;

}

.toolbar .linked .button,
.header-bar .linked .button,
.titlebar.header-bar .linked .button {
 background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (rgb(255,255,255)),
                                     color-stop (0.25, rgb(255,255,255)),
                                     color-stop (0.50, rgb(243,243,243)),
                                     color-stop (0.50, rgb(236,236,236)),
                                     to (rgb(242,242,242)));
}


.toolbar .linked .button:checked,
.header-bar .linked .button:checked,
.titlebar.header-bar .linked .button:checked,
.toolbar .linked .button:hover,
.header-bar .linked .button:hover,
.titlebar.header-bar .linked .button:hover {
 background-image: -gtk-gradient (linear, left top, left bottom,
	                                 from (shade(@theme_bg_dark_color, 1.00)),
                                     color-stop (0.20, shade(@theme_bg_dark_color, 1.09)),
	                                 to   (shade(@theme_bg_dark_color, 1.10))); 
}

.toolbar .linked .button:insensitive,
.header-bar .linked .button:insensitive,
.titlebar.header-bar .linked .button:insensitive {
background-image: none;
}

.primary-toolbar.toolbar.horizontal  .button:active,
.toolbar .button:active,
.primary-toolbar .button:active,
.header-bar .button:active {
     background-image: -gtk-gradient (linear, left top, left bottom,
	                                 from (shade(@theme_bg_dark_color, 1.00)),
                                     color-stop (0.20, shade(@theme_bg_dark_color, 1.09)),
	                                 to   (shade(@theme_bg_dark_color, 1.10)));

    border-style:  solid;
	border-width:  1px;
    border-image:  none;

    border-top-color: 		alpha (#000, 0.38);
    border-left-color: 		alpha (#000, 0.22);
    border-right-color: 	alpha (#000, 0.22);
    border-bottom-color: 	alpha (#000, 0.18);

    box-shadow:	inset  0px  2px alpha(#000, 0.03),
                inset  0px  1px alpha(#000, 0.06),
                inset  2px  0px alpha(#000, 0.03),
                inset  1px  0px alpha(#000, 0.06),
                inset -2px  0px alpha(#000, 0.03),
                inset -1px  0px alpha(#000, 0.06),
                inset  0px -2px alpha(#000, 0.02),
                inset  0px -1px alpha(#000, 0.04);

    text-shadow: none;
}



.toolbar .button:checked:insensitive,
.toolbar .button:insensitive,
.primary-toolbar .button:checked:insensitive,
.primary-toolbar .button:insensitive,
.header-bar .button:checked:insensitive,
.header-bar .button:insensitive {
    text-shadow: none;
}

.primary-toolbar .button:insensitive,
.header-bar .button:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.01)),
                                     to (shade (@dark_bg_color, 0.99)));
}

.primary-toolbar .button.flat:insensitive {
    background-image: none;
}

.primary-toolbar .button:checked:insensitive,
.header-bar .button:checked:insensitive {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 0.94)),
                                     to (shade (@dark_bg_color, 1.02)));
}

.primary-toolbar GtkSeparatorToolItem,
.primary-toolbar .separator,
.primary-toolbar .separator:insensitive,
.header-bar GtkSeparatorToolItem,
.header-bar .separator,
.header-bar .separator:insensitive {
    border-color: alpha (shade (@dark_bg_color, 0.94), 0.35);
    border-bottom-color: alpha (shade (@dark_bg_color, 1.26), 0.5);
    border-right-color: alpha (shade (@dark_bg_color, 1.26), 0.5);
}

/* inline-toolbar */
.inline-toolbar.toolbar {
    -GtkToolbar-button-relief: normal;

    border-right-color: shade (@bg_color, 0.86);
    border-bottom-color: shade (@bg_color, 0.88);
    border-left-color: shade (@bg_color, 0.86);

    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (#f2f1ef, 0.93)),
                                     color-stop (0.08, #f2f1ef),
                                     to (#ffffff));
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 3px 4px 4px 4px;
}

.inline-toolbar.toolbar .button {
    padding: 4px;

    icon-shadow: 0 1px shade (@bg_color, 1.16);
}

/* Middle button */
.inline-toolbar.toolbar .button,
.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar .button:focus,
.inline-toolbar.toolbar .button:focus:active,
.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar GtkToolButton .button,
.inline-toolbar.toolbar GtkToolButton .button:active,
.inline-toolbar.toolbar GtkToolButton .button:focus,
.inline-toolbar.toolbar GtkToolButton .button:focus:active,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
   border-width: 0px;
    border-right-width: 0px;
    border-left-width:  0px;
    border-radius: 0;

	/* border and inset */
    box-shadow: inset  0px  2px alpha(#fff, 0.09),
                inset  2px  0px alpha(#fff, 0.09),
                inset -1px  0px alpha(#fff, 0.09),
                inset  0px -2px alpha(#fff, 0.06),
                inset  1px  0px shade(@button_border, 1.10);
}

/* Leftmost button */
.inline-toolbar.toolbar .button:first-child,
.inline-toolbar.toolbar .button:active:first-child,
.inline-toolbar.toolbar .button:focus:first-child,
.inline-toolbar.toolbar .button:focus:active:first-child,
.inline-toolbar.toolbar .button:insensitive:first-child,
.inline-toolbar.toolbar GtkToolButton:first-child .button,
.inline-toolbar.toolbar GtkToolButton:first-child .button:active,
.inline-toolbar.toolbar GtkToolButton:first-child .button:focus,
.inline-toolbar.toolbar GtkToolButton:first-child .button:focus:active,
.inline-toolbar.toolbar GtkToolButton:first-child .button:insensitive {
     border-width: 0px;
    border-radius: 0px;

    box-shadow: inset  0px  2px alpha(#fff, 0.09),
                inset  2px  0px alpha(#fff, 0.09),
                inset -1px  0px alpha(#fff, 0.09),
                inset  0px -2px alpha(#fff, 0.06);
}

/* Rightmost button */
.inline-toolbar.toolbar .button:last-child,
.inline-toolbar.toolbar .button:active:last-child,
.inline-toolbar.toolbar .button:focus:last-child,
.inline-toolbar.toolbar .button:focus:active:last-child,
.inline-toolbar.toolbar .button:insensitive:last-child,
.inline-toolbar.toolbar GtkToolButton:last-child .button,
.inline-toolbar.toolbar GtkToolButton:last-child .button:active,
.inline-toolbar.toolbar GtkToolButton:last-child .button:focus,
.inline-toolbar.toolbar GtkToolButton:last-child .button:focus:active,
.inline-toolbar.toolbar GtkToolButton:last-child .button:insensitive {
    border-width: 0px;
    border-radius: 0px;

    box-shadow: inset  0px  2px alpha(#fff, 0.09),
                inset  2px  0px alpha(#fff, 0.09),
                inset -2px  0px alpha(#fff, 0.09),
                inset  0px -2px alpha(#fff, 0.06),
                inset  1px  0px shade(@button_border, 1.10),
                inset -1px  0px shade(@button_border, 1.10);

}

/* Single button */
.inline-toolbar.toolbar .button:only-child,
.inline-toolbar.toolbar .button:active:only-child,
.inline-toolbar.toolbar .button:focus:only-child,
.inline-toolbar.toolbar .button:focus:active:only-child,
.inline-toolbar.toolbar .button:insensitive:only-child,
.inline-toolbar.toolbar GtkToolButton:only-child .button,
.inline-toolbar.toolbar GtkToolButton:only-child .button:active,
.inline-toolbar.toolbar GtkToolButton:only-child .button:focus,
.inline-toolbar.toolbar GtkToolButton:only-child .button:focus:active,
.inline-toolbar.toolbar GtkToolButton:only-child .button:insensitive {
    border-radius:  0px;
    border-width:	0px;
    box-shadow: inset  0px  1px alpha(#fff, 0.09),
                inset -1px  0px alpha(#fff, 0.09),
                inset  0px -1px alpha(#fff, 0.09),
                inset  1px  0px shade(@button_border, 1.10);
}

/***********
 * tooltip *
 ***********/
.tooltip {
 padding: 		5px 5px;
	border-width: 	1px;
    border-style: 	solid;
	border-radius: 	4px;
	border-color: 	alpha(@theme_tooltip_bg_color, 0.95);
    background-image: 	none;
	background-color: 	alpha(@theme_tooltip_bg_color, 0.80);
    color: 				shade(@theme_tooltip_fg_color, 0.85);
    
}

.tooltip * {
     background-color: alpha(@theme_tooltip_bg_color, 0.0);
}

/************
 * treeview *
 ************/
GtkTreeView.dnd {
    border-color: shade (@selected_bg_color, 1.12);
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
}

GtkTreeView .entry {
    background-image: none;
}

.view row:nth-child(odd) {
    /* zebra stripping, see LP#945430 */
    background-color: shade (@base_color, 0.965);
}

/************
 * viewport *
 ************/
GtkViewport.frame {
    border-width: 0;
}

/************
 * listbox  *
 ************/
.list-row.button {
    border-image: none;
    border-style: none;
    border-radius: 0;
    background-image: none;
}

.list-row.button:selected {
    text-shadow: none;
}

/************
 * popover  *
 ************/
.popover {
    background-clip: border-box;

    border-radius: 5px;
    border: 1px solid darker(@bg_color);

    box-shadow: 0 2px 3px @shadow_color;
    margin: 10px;
    padding: 2px;
}


/* Popover menuitems are actually buttons. The following rules reset most of
 * the button styles for them.
 */
.popover .menuitem,
.popover .menuitem:checked,
.popover .menuitem:hover,
.popover .menuitem:active,
.popover .menuitem:insensitive {
    border-image: none;
    border: none;
    text-shadow: none;
    border-radius: 3px;
}

.popover .menuitem:checked,
.popover .menuitem.check,
.popover .menuitem.check:checked,
.popover .menuitem.radio,
.popover .menuitem.radio:checked {
    background-image: none;
    border: none;
}

.popover .menuitem:insensitive,
.popover .menuitem *:insensitive {
    text-shadow: none;
    background: none;
}

/* Floating bars */
.floating-bar {
    background-color: @info_bg_color;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 1px;
    border-color: darker (@info_bg_color);
}


/* OSD overlays */
.osd {
    color: @osd_fg_color;
    background-color: @osd_bg_color;
    border-color: @osd_border_color;
}

.osd.toolbar {
    padding: 12px;
    border-radius: 8px;
}

.osd .button {
    color: @osd_fg_color;
    background: none;
    border: none;
    padding: 12px;
    border-radius: 8px;
    transition: all 100ms ease-in-out;
}

/* buttons that are not part of an osd toolbar need a background */
.button.osd,
.button.osd:hover,
.button.osd:active {
    background: @osd_bg_color;
    padding: 12px;
    box-shadow: none;
    border-image: none;
}

.button.osd:hover,
.osd .button:hover {
    color: lighter(@osd_fg_color);
    icon-shadow: 0 0 3px @osd_fg_color;
}

.button.osd:active,
.osd .button:active {
    color: darker(@osd_fg_color);
    icon-shadow: none;
}

.osd .scale {
    margin-left: 9px;
    margin-right: 9px;
}

/*************
 * overshoot *
 *************/
.overshoot.top {
    background: -gtk-gradient(radial, center top, 0, center top, 0.7, from(shade(@bg_color, 0.92)), to(alpha(@bg_color, 0.0)));
}

.overshoot.right {
    background: -gtk-gradient(radial, right center, 0, right center, 0.7, from(shade(@bg_color, 0.92)), to(alpha(@bg_color, 0.0)));
}

.overshoot.bottom {
    background: -gtk-gradient(radial, center bottom, 0, center bottom, 0.7, from(shade(@bg_color, 0.92)), to(alpha(@bg_color, 0.0)));
}

.overshoot.left {
    background: -gtk-gradient(radial, left center, 0, left center, 0.7, from(shade(@bg_color, 0.92)), to(alpha(@bg_color, 0.0)));
}

/**************
 * undershoot *
 **************/
.undershoot {
    background: none;
}

/*****************************************************************************
 * states [please keep this section at the end of the file (CSS precedence)] *
 *****************************************************************************/
*:insensitive {
    color: shade (@bg_color, 0.6);
    text-shadow: 0 1px alpha (shade (@bg_color, 1.25), 0.5);
}

*:selected,
*:selected:focused {
    background-color: alpha (@selected_bg_color, 0.9);

    color: @selected_fg_color;
}

*:link,
*:visited {
    color: #5b859d; /* @link_color */
}
