/***************
 * Resize grip *
 ***************/

.grip {
    background-color: transparent;
    /*background-image: url("assets/resize-grip.svg");*/
}

/*************************
 * Check and Radio items *
 *************************/

/* draw regular check and radio items using our PNG assets */
.check {
    -gtk-icon-source: url("assets/check-unselected.png");
}

.check:hover {
    -gtk-icon-source: url("assets/check-unselected-hover.png");
}

.check row,
.check row:selected,
.check row:selected:focus {
    -gtk-icon-source: url("assets/check-unselected.png");
}

.check row:hover,
.check row:selected:hover,
.check row:selected:focus:hover {
    -gtk-icon-source: url("assets/check-unselected-hover.png");
}

.check:insensitive {
    -gtk-icon-source: url("assets/check-unselected-disabled.png");
}

.check row:insensitive {
    background-color: transparent;
}

.check row:insensitive,
.check row:selected:insensitive,
.check row:selected:focus:insensitive {
    background-color: transparent;
    -gtk-icon-source: url("assets/check-unselected-disabled.png");
}

.check:checked {
    -gtk-icon-source: url("assets/check-selected.png");
}

.check:checked:hover {
    -gtk-icon-source: url("assets/check-selected-hover.png");
}

.check row:checked,
.check row:selected:checked,
.check row:selected:focus:checked {
    -gtk-icon-source: url("assets/checkbox-checked.png");
}

.check row:checked:hover,
.check row:selected:checked:hover,
.check row:selected:checked:focus:hover {
    -gtk-icon-source: url("assets/check-selected-hover.png");
}

.check:checked:insensitive {
    -gtk-icon-source: url("assets/check-selected-disabled.png");
}

.check row:checked:insensitive,
.check row:selected:checked:insensitive,
.check row:selected:focus:checked:insensitive {
    -gtk-icon-source: url("assets/check-selected-disabled.png");
}

.check:inconsistent {
    -gtk-icon-source: url("assets/check-mixed.png");
}

.check:inconsistent:hover {
    -gtk-icon-source: url("assets/check-mixed-hover.png");
}

.check row:inconsistent,
.check row:selected:inconsistent,
.check row:selected:focus:inconsistent {
    -gtk-icon-source: url("assets/check-mixed.png");
}

.check row:inconsistent:hover,
.check row:selected:inconsistent:hover,
.check row:selected:focus:inconsistent:hover {
    -gtk-icon-source: url("assets/check-mixed-hover.png");
}

.check:inconsistent:insensitive {
    -gtk-icon-source: url("assets/check-mixed-disabled.png");
}

.check row:inconsistent:insensitive,
.check row:selected:inconsistent:insensitive,
.check row:selected:focus:inconsistent:insensitive {
    -gtk-icon-source: url("assets/check-mixed-disabled.png");
}

.radio {
    -gtk-icon-source: url("assets/radio-unselected.png");
}

.radio:hover {
    -gtk-icon-source: url("assets/radio-unselected-hover.png");
}

.radio row,
.radio row:selected,
.radio row:selected:focus {
    -gtk-icon-source: url("assets/radio-unselected.png");
}

.radio row:hover,
.radio row:selected:hover,
.radio row:selected:focus:hover {
    -gtk-icon-source: url("assets/radio-unselected-hover.png");
}

.radio:insensitive {
    -gtk-icon-source: url("assets/radio-unselected-disabled.png");
}

.radio row:insensitive {
    background-color: transparent;
}

.radio row:insensitive,
.radio row:selected:insensitive,
.radio row:selected:focus:insensitive {
    -gtk-icon-source: url("assets/radio-unselected-disabled.png");
}


.radio:checked {
    -gtk-icon-source: url("assets/radio-selected.png");
}

.radio:checked:hover {
    -gtk-icon-source: url("assets/radio-selected-hover.png");
}

.radio row:checked,
.radio row:selected:checked,
.radio row:selected:focus:checked {
    -gtk-icon-source: url("assets/radio-selected.png");
}

.radio row:checked:hover,
.radio row:selected:checked:hover,
.radio row:selected:focus:checked:hover {
    -gtk-icon-source: url("assets/radio-selected-hover.png");
}

.radio:checked:insensitive {
    -gtk-icon-source: url("assets/radio-selected-disabled.png");
}

.radio row:insensitive,
.radio row:selected:checked:insensitive,
.radio row:selected:focus:checked:insensitive {
    -gtk-icon-source: url("assets/radio-selected-disabled.png");
}

.radio:inconsistent {
    -gtk-icon-source: url("assets/radio-mixed.png");
}

.radio:inconsistent:hover {
    -gtk-icon-source: url("assets/radio-mixed-hover.png");
}

.radio row:inconsistent,
.radio row:selected:inconsistent,
.radio row:selected:focus:inconsistent {
    -gtk-icon-source: url("assets/radio-mixed.png");
}

.radio row:inconsistent:hover,
.radio row:selected:inconsistent:hover,
.radio row:selected:focus:inconsistent:hover {
    -gtk-icon-source: url("assets/radio-mixed-hover.png");
}

.radio:inconsistent:insensitive {
    -gtk-icon-source: url("assets/radio-mixed-disabled.png");
}

.radio row:inconsistent:insensitive,
.radio row:selected:inconsistent:insensitive,
.radio row:selected:focus:inconsistent:insensitive {
    -gtk-icon-source: url("assets/radio-mixed-disabled-alt.png");
}

.primary-toolbar .menu .check,
.menubar.toolbar .menu .check,
.header-bar .menu .check,
.menu .check {
    -gtk-icon-source: url("assets/check-menuitem-unselected.png");
}

.primary-toolbar .menu .radio,
.menubar.toolbar .menu .radio,
.header-bar .menu .radio,
.menu .radio {
    -gtk-icon-source: url("assets/check-menuitem-unselected.png");
}

.primary-toolbar .menu .check:checked,
.menubar.toolbar .menu .check:checked,
.header-bar .menu .check:checked,
.toolbar .menu .check:checked:hover,
.menu .check:checked,
.menu .check:checked:hover {
    -gtk-icon-source: url("assets/check-menuitem.png");
}

.primary-toolbar .menu .check:checked:insensitive,
.menubar.toolbar .menu .check:checked:insensitive,
.header-bar .menu .check:checked:insensitive,
.toolbar .menu .check:checked:hover:insensitive,
.menu .check:checked:insensitive,
.menu .check:checked:hover:insensitive {
    -gtk-icon-source: url("assets/check-menuitem-insensitive.png");
}

.primary-toolbar .menu .radio:checked,
.menubar.toolbar .menu .radio:checked,
.header-bar .menu .radio:checked,
.toolbar .menu .radio:checked:hover,
.menu .radio:checked,
.menu .radio:checked:hover {
    -gtk-icon-source: url("assets/radio-menuitem.png");
}

.primary-toolbar .menu .radio:checked:insensitive,
.menubar.toolbar .menu .radio:checked:insensitive,
.header-bar .menu .radio:checked:insensitive,
.toolbar .menu .radio:checked:hover:insensitive,
.menu .radio:checked:insensitive,
.menu .radio:checked:hover:insensitive {
    -gtk-icon-source: url("assets/radio-menuitem-insensitive.png");
}

.toolbar .menu .check {
    -gtk-icon-source: url("assets/check-menuitem-unselected.png");
}

.toolbar .menu .radio {
    -gtk-icon-source: url("assets/check-menuitem-unselected.png");
}

.toolbar .menu .check:checked {
    -gtk-icon-source: url("assets/check-menuitem-dark.png");
}

.toolbar .menu .check:checked:insensitive {
    -gtk-icon-source: url("assets/check-menuitem-insensitive-dark.png");
}

.toolbar .menu .radio:checked {
    -gtk-icon-source: url("assets/radio-menuitem-dark.png");
}

.toolbar .menu .radio:checked:insensitive {
    -gtk-icon-source: url("assets/radio-menuitem-insensitive-dark.png");
}

/*********************
 * GtkScale's slider *
 *********************/
.scale.slider,
.scale.slider.horizontal,
.scale.slider.vertical {
   background-image: url("assets/scale-slider.svg");
}

.scale.slider:insensitive,
.scale.slider.horizontal:insensitive,
.scale.slider.vertical:insensitive {
   background-image: url("assets/scale-slider-insensitive.svg");
}
